.card p{
    padding: 0 41px;
    background: #f8efa2;
    width: 187px;
    height: 23px;
    margin: 18px 30px;
    border-radius: 20px;
}
.part-right{
    text-align: center;
}
.part-right h3{
    color: #000;
    padding-top: 10px;
}
#back{
    background-image: url(./Img/menu.jpg);
    height: 311px;
    background-size: 100%;
}
#text-center h2{
    text-align: center;
    padding: 34px 0;
}
#part-menu{
    background-color: #bdb8a0;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
#part-menu h2{
    color: #fff;
    font-size: 30px;
}
#part-menu p {
    color: #000;
    border-bottom: 3px solid #bda21a;
    padding-bottom: 20px;
}
#part{
    text-align: center;
    background-color: #2F2E2E;
    color: #fff;
    padding: 44px 0 0 0;
}
#part2{
    text-align: center;
    background-color: #F7D00C;
    padding: 44px 0 44px 0;
    font-size: 15px;
}
#parttext{
    text-align: center;
    padding-top: 30px;
}
.part{
    padding-left: 421px;
}
.img{
    padding-bottom: 30px;
}
.img-text{
    padding-left: 30px;
    padding-top: 130px;
}
.img-text-one{
    border: 1px solid;
    border-radius: 10px;
    width: 255px;
}
.text-one p{
    padding-top: 25px;
}
.textpart{
    text-align: center;
}
.txt{
    background-color: #F2F0F0;
    padding: 34px 0 43px 0;
}
.part1{
    padding-left: 100px;
}
.partt{
    margin: 0px !important;
}
.parttext{
    background-color: #495056;
}
.parttt{
    padding-top: 80px;
}
.textpp{
    background-color: #fde100;
    width: 400px;
    text-align: center;
    padding: 31px 0 13px 0;
    margin-left: 116px;
    box-shadow: 0 0 #888, 0 0px #888, 14px -10px 25px 5px #888;
}
.textppp{
    margin-top: 50px;
}
.textppp h3{
    background: #fde100;
    text-align: center;
    border: 2px solid #fde100;
    border-radius: 0 50px 0 0;
}
.bestpart{
    text-align: center;
    padding-top: 30px;
}
.bestimg{
    padding-left: 100px;
}
.bestimg img{
    border: 1px solid;
    border-radius: 14px;
}
.tagcenter{
    text-align: center;
}
.textend{
    text-align: center;
    background-color: #FFDA1F;
    margin-top: 100px;
    padding: 30px 0 30px 0;
}
.imgpp{
    margin-left: 587px;
    margin-top: 50px;
}
.footer{
    background-color: #707070;
    color: #fff;
    padding: 50px 0;
}
.textfooter{
    text-align: center;
    color: #AE874B;
}
.listfooter{
    list-style-type: none;
}
.imgfooter img{
    margin-left: 60px;
    border: 1px solid #000;
    border-radius: 10px;
}