.card {
    
}
.part-right{
    text-align: center;
}
#back{
    background-image: url(./Img/menu.jpg);
    height: 311px;
    background-size: 100%;
}
#text-center h2{
    text-align: center;
}
#part-menu{
    background-color: #5C4F13;
    color: #fff;
    text-align: center;
}
#part-menu h2{
    color: #fff;
}
#part{
    text-align: center;
    background-color: #2F2E2E;
    color: #fff;
    padding: 44px 0 0 0;
}
#part2{
    text-align: center;
    background-color: #F7D00C;
    padding: 44px 0 0 0;
}